<h1>My brewings</h1>
<button mat-stroked-button (click)="newBrewing()">New Brewing</button>
<mat-list>
  @for (item of list(); track $index) {
  <mat-list-item (click)="openBrew(item)">
    <span matListItemTitle
      ><b>{{ item.getName() }}</b></span
    >
    <span matListItemLine
      >{{ item.getMethodProcess().method }} -
      {{ item.getMethodProcess().cups.amount }} cup(s)</span
    >
    <!-- <span matListItemLine
      ><i>{{ item.getCreatedAt() | date }}</i></span
    > -->
  </mat-list-item>
  }
</mat-list>
