<mat-list>
  <h1 mat-subheader>HISTORY</h1>
  @for (item of history(); track $index) {
  <mat-list-item>
    <mat-icon matListItemIcon>coffee</mat-icon>
    <div matListItemTitle>
      Water: {{ item.quantities.water }}{{ item.units.water }} + Coffee:
      {{ item.quantities.coffee }}{{ item.units.coffee }} =
      {{ item.cups.amount }} cup{{ item.cups.amount > 1 ? 's' : '' }} of
      {{ item.method }}
    </div>
    <div matListItemLine>
      <span
        >Ratio: {{ item.ratio.coffee }}{{ item.units.coffee }} coffee to
        {{ item.ratio.water }}{{ item.units.water }} water | Cup volume:
        {{ item.cups.volume }}{{ item.cups.unit }}</span
      >
    </div>
  </mat-list-item>
  } @empty {
  <mat-list-item>
    <div matListItemTitle>No history yet</div>
  </mat-list-item>
  }
</mat-list>
@if (history().length > 0) {
<button mat-button (click)="clearHistory()">
  <mat-icon>clear</mat-icon>Clear
</button>
}
