<mat-tab-group>
  @if (pre().length) {
  <mat-tab label="Preparation">
    <ul>
      @for (step of pre(); track $index) {
      <li>
        {{ step }}
      </li>
      }
    </ul>
  </mat-tab>
  }
  <mat-tab label="Steps">
    <ol>
      @for (step of steps(); track $index) {
      <li>
        {{ step }}
      </li>
      }
    </ol>
  </mat-tab>
  <mat-tab label="Tutorial">
    <iframe
      width="100%"
      height="250"
      src="https://www.youtube.com/embed/w3A_Z1J78HY?si=rpAMPe7OyTTxV3Yt"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </mat-tab>
</mat-tab-group>
