@import 'mixins';
ol {
  list-style-type: decimal;
}

ul {
  list-style-type: bullet;
}

ol, ul {
  padding: 1.75rem;
  max-height: 234px;
  @include mqGt('md') {
    max-height: 32vh;
  }
  li {
    margin-bottom: .5rem;
  }
}
