@import 'mixins';
ol {
  list-style-type: decimal;
}

ul {
  list-style-type: bullet;
}

.title {
  margin-top: 24px !important;
}

ol, ul {
  padding: 0 1.5rem;
  // max-height: 234px;
  @include mqGt('md') {
    // max-height: 32vh;
  }
  li {
    margin-bottom: .5rem;
  }
}
