<div class="flex flex-col gap-8">
  <div
    class="quantities grid grid-cols-3 gap-8 justify-between md:justify-start"
  >
    <div class="flex flex-col">
      <p class="text-sm">Method</p>
      <h4>{{ method() }}</h4>
    </div>
    <div class="flex flex-col">
      <p class="text-sm">Water ({{ units().water }})</p>
      <h4>{{ quantities().water }}</h4>
    </div>
    <div class="flex flex-col">
      <p class="text-sm">Coffee ({{ units().coffee }})</p>
      <h4>{{ quantities().coffee }}</h4>
    </div>
    <div class="flex flex-col">
      @if (timeEdit()) {
      <mat-form-field>
        <mat-label>Time</mat-label>
        <input matInput type="number" [value]="time()" #timeInput />
        <button
          mat-icon-button
          matSuffix
          [disabled]="!timeInput.value.trim()"
          (click)="updateTime(timeInput.value)"
        >
          <mat-icon>save</mat-icon>
        </button>
        <mat-hint>Seconds</mat-hint>
      </mat-form-field>
      } @else {
      <p class="text-sm">Time (min)</p>
      <h4
        [ngClass]="{
          'underline md:no-underline hover:underline': isEditing()
        }"
        (click)="isEditing() && timeEdit.set(true)"
      >
        {{ time() | displayTime }}
      </h4>
      }
    </div>
    <div class="flex flex-col">
      <p class="text-sm">Grind size</p>
      <h4>{{ grindSize() }}</h4>
    </div>
    <div class="flex flex-col">
      <p class="text-sm">Cups ({{ cups().volume }}{{ cups().unit }})</p>
      <h4>{{ cups().amount }}</h4>
    </div>
  </div>
  <mat-divider />
  @if (showTimer()) {
  <div class="timer flex flex-row justify-center items-center gap-2">
    @if (timerStatus() === 'stopped' || timerStatus() === 'paused') {
    <button mat-icon-button (click)="brewState.startTimer()">
      <mat-icon>play_arrow</mat-icon>
    </button>
    } @else {
    <button mat-icon-button (click)="brewState.pauseTimer()">
      <mat-icon>pause</mat-icon>
    </button>
    }
    <div class="flex flex-col items-center justify-center">
      <h1 class="timer-count">{{ timer() }}</h1>
    </div>
    <button
      (click)="brewState.stopTimer()"
      [disabled]="timerStatus() === 'stopped'"
      mat-icon-button
    >
      <mat-icon>stop</mat-icon>
    </button>
  </div>
  }
</div>
