<div class="flex flex-col gap-8">
  <div class="quantities flex flex-row gap-8 justify-between md:justify-start">
    <div class="flex flex-col">
      <p class="text-sm">Method</p>
      <h4>{{ method() }}</h4>
    </div>
    <div class="flex flex-col">
      <p class="text-sm">Water ({{ units().water }})</p>
      <h4>{{ quantities().water }}</h4>
    </div>
    <div class="flex flex-col">
      <p class="text-sm">Coffee ({{ units().coffee }})</p>
      <h4>{{ quantities().coffee }}</h4>
    </div>
    <!-- <div class="flex flex-col">
      <p class="text-sm">Time (min)</p>
    </div> -->
  </div>
  <div class="timer flex flex-row justify-center items-center gap-2">
    @if (timerStatus() === 'stopped' || timerStatus() === 'paused') {
    <button mat-icon-button (click)="brewService.startTimer()">
      <mat-icon>play_arrow</mat-icon>
    </button>
    } @else {
    <button mat-icon-button (click)="brewService.pauseTimer()">
      <mat-icon>pause</mat-icon>
    </button>
    }
    <div class="flex flex-col items-center justify-center">
      <p class="method-time">{{ time() }}</p>
      <h1 class="timer-count">{{ timer() }}</h1>
    </div>
    <button
      (click)="brewService.stopTimer()"
      [disabled]="timerStatus() === 'stopped'"
      mat-icon-button
    >
      <mat-icon>stop</mat-icon>
    </button>
  </div>
</div>
