@defer (on timer(500)) { @if(user()) {
<div class="flex flex-col items-center gap-4">
  <img
    src="{{ user()?.picture }}"
    alt="{{ user()?.name }}"
    style="border-radius: 50%; width: 100px; height: 100px"
  />
  <h3>{{ user()?.name }}</h3>
  <button mat-stroked-button (click)="handleSignout()" i18n="@@account:signOut">
    Sign out
  </button>
  @if (!isSyncing()) {
    <button mat-stroked-button (click)="handleSync()" i18n="@@account:sync">
      Sync brewings
    </button>
  } @else {
    <mat-spinner />
  }
</div>
} @else {
<h1 i18n="@@account:title">Account</h1>
<p i18n="@@account:cta">
  Create an account to access your brews on any device and share them with your
  friends.
</p>
<div id="buttonDiv"></div>
} } @placeholder {
<div>
  <h2 class="text-center" i18n="@@account:loading">Loading...</h2>
</div>
}
<div class="mt-10">
 <app-languages />
</div>
