<header class="flex flex-row justify-between items-center" [ngClass]="{'sticky top-0': stickyHeader()}">
  <button mat-button (click)="handleBackClick()">
    <mat-icon>arrow_back</mat-icon>Back
  </button>
  @if ((brewState.timer$ | async)?.fullscreen && stickyHeader() && isMediumLayout()) {
    <app-brew-timer [fullscreen]="true" />
  }
  <div class="flex flex-row justify-end items-center gap-4">
    <button mat-icon-button (click)="handleTimerVisibility()">
      <mat-icon>{{
        brewState.timer.value.hidden ? 'timer' : 'timer_off'
      }}</mat-icon>
    </button>
    <!-- <button mat-icon-button>
      <mat-icon>content_copy</mat-icon>
    </button> -->
    <!-- <button mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button> -->
    <button
      mat-icon-button
      (click)="brewState.setEditing(!brewState.isEditing())"
    >
      <mat-icon>{{ isEditing() ? 'edit_off' : 'edit' }}</mat-icon>
    </button>
  </div>
</header>
@if ((brewState.timer$ | async)?.fullscreen) {
<div class="fullscreen-container">
  <app-brew-timer />
  <app-timeline-steps />
</div>
} @else {
@if (titleMode() === 'view') {
<h2
  [ngClass]="{
    'underline md:no-underline hover:underline': isEditing()
  }"
  (click)="isEditing() && titleMode.set('edit')"
>
  {{ brewName() }}
</h2>
} @else {
<mat-form-field appearance="fill">
  <mat-label>Brewing name</mat-label>
  <input
    matInput
    [value]="brewName()"
    (blur)="handleInputBlur($event)"
    appAutoFocus
  />
  <mat-hint (click)="handlePromptSuggestion()"
    ><u>Suggestion: {{ suggestionName() }}</u></mat-hint
  >
</mat-form-field>
}
<div>
  <app-brew-configuration />
</div>
@if (!(brewState.timer$ | async)?.hidden) {
  <div class="mt-4" id="timer-timeline-container">
    <app-brew-timer />
    <app-timeline-steps />
  </div>
}
<div class="mt-4">
  <app-brew-notes />
</div>
<div class="mt-4">
  <app-brew-steps />
</div>
}
