<div class="flex flex-row">
  <button mat-button (click)="location.back()">
    <mat-icon>arrow_back</mat-icon>Back
  </button>
</div>
@if (titleMode() === 'view') {
<h2 (click)="titleMode.set('edit')">{{ brewName }}</h2>
} @else {
<mat-form-field appearance="fill">
  <mat-label>Brewing name</mat-label>
  <input matInput (blur)="handleInputBlur($event)" />
  <mat-icon matIconSuffix> prompt_suggestion </mat-icon>
  <!-- <button matSuffix mat-icon-button (click)="handlePromptSuggestion()">
  </button> -->
  <mat-hint (click)="handlePromptSuggestion()"
    ><u>Suggestion: {{ suggestionName() }}</u></mat-hint
  >
</mat-form-field>
}
<div>
  <app-brew-configuration />
</div>
<div>
  <app-brew-steps />
</div>
