@use '@angular/material' as mat;
@import 'typography';
@import 'theme';


:root {
  @include mat.all-component-themes($coffee-calculator-theme);
  @include mat.typography-hierarchy($coffee-calculator-theme);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
  width: 100%;
}

body {
  width: 100%;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0003;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,.08);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
