@import "mixins";
.calculator-form {
  gap: 2rem;
  > .row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  > .row.-justify-between {
    justify-content: space-between;
  }
}

.form-control {
  @include mqGt('sm') {
    mat-form-field {
      max-width: 150px;
    }
  }
}

.amount-ratio {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  @include mqGt('sm') {
    justify-content: start;
  }
}

.calculator-result {
  flex: 1;

  > .portions, > .result {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
}
